<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sell with Gumroad</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="GitBook">
        <link rel="icon" href="/assets/images/logo/favicon.ico">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div class="gb-page-wrapper">
            <div class="gb-page-body">
                {% block body %}{% endblock %}
            </div>
            <div class="gb-page-footer">
                <div class="container">
                    <ul class="menu">
                        <li>
                            <a href="https://www.gitbook.com/contact">Contact</a>
                        </li>
                        <li class="pull-right">
                            <span>© GitBook.com</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>